---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Importar la fuente desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Cambia la fuente solo para los párrafos dentro del contenido */
.page__content p {
  font-family: 'IBM Plex Sans', sans-serif;
}


/* Aumenta el tamaño de letra del menú de navegación */
.main-navigation {
  font-size: 1.2rem; /* Puedes ajustar este valor según te guste */
}

.main-navigation .nav__item {
  padding: 0.5rem 1rem; /* Ajusta el padding si es necesario */
}

.main-navigation .nav__item a {
  font-size: 1.2rem; /* Tamaño de letra para los enlaces */
}
