---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// main.scss o _custom.scss
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Cambia la fuente para el cuerpo del texto */
.page__content {
  p {
  font-family: 'IBM Plex Sans', sans-serif;
} ,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  blockquote,
  dd,
  dt,
  td,
  th ,
}
