---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Importar la fuente desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Cambia la fuente solo para los párrafos dentro del contenido */
.page__content p {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Siempre muestra el menú hamburguesa, incluso en pantallas grandes */
.site-nav {
  display: block !important;
}

.site-nav__toggle {
  display: block !important;
}

.site-nav__items {
  display: none !important;
}

.site-nav__toggle:checked ~ .site-nav__items {
  display: block !important;
}

/* Oculta el menú horizontal en todas las pantallas */
.main-navigation {
  display: none !important;
}
